@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-stretch: normal;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header::before {
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 0px;

  content: "";
  width: 100%;
  height: 299px;

  background-color: #f8e296;
}

.header {
  padding-top: 21px;
  padding-left: 59px;
}

.user-nav {
  margin-bottom: 28px;
}

.user-nav__list {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 61px;

  list-style: none;
}

.user-nav__item {
  position: relative;

  padding-top: 8px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: black;
}

.user-nav__item--search {
  display: flex;
  align-items: center;
  width: 441px;
  height: 49px;
  padding: 0;
  margin-right: 100px;
}

.user-nav__item--left {
  margin-right: auto;
}

.user-nav__item--right {
  margin-left: 41px;
}

.user-nav__item--search input {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.user-nav__item--search .user-nav__button {
  display: none;

  width: 85px;
  height: 49px;

  background-color: transparent;
  border: 2px solid #000;
}

.user-nav__button:hover {
  display: block;

  color: #fff;

  background-color: #000;
}

.user-nav__button:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);

  background-color: #000;
}

.user-nav__button:focus {
  display: block;
}

.user-nav__button:hover~.user-nav__border-bottom::after,
.user-nav__button:active~.user-nav__border-bottom::after,
.user-nav__button:focus~.user-nav__border-bottom::after,
#search:focus~.user-nav__border-bottom::after {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;

  width: 100%;
  height: 2px;
  content: "";

  background-color: #000;
}

#search:focus~.user-nav__button {
  display: block;
}

.user-nav__link {
  text-decoration: none;
  color: inherit;
}

.user-nav__link:hover {
  opacity: 0.6;
}

.user-nav__link:active {
  opacity: 0.3;
}

.user-nav__icon--search {
  margin-bottom: 2px;
  margin-left: 2px;
}

.user-nav__icon--user {
  margin-right: 8px;
}

.user-nav__icon--compare {
  margin-right: 6px;
}

.user-nav__icon--cart {
  margin-right: 7px;
}

.main-nav {
  margin: 0;
}

.main-nav__list {
  display: flex;
  padding-right: 58px;
  padding-left: 0;

  list-style: none;
}

.main-nav__item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  
  color: #000;
}

.main-nav__item--catalog {
  position: relative;

  width: 540px;
  margin: 0;
}

.main-nav__item--left {
  margin-right: 34px;
}

.main-nav__item--right {
  margin-left: auto;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

.main-nav__link:hover {
  color: rgba(0, 0, 0, 0.6)
}

.main-nav__link:active {
  color: rgba(0, 0, 0, 0.3)
}

.main-nav__icon {
  margin-left: 2px;

  opacity: 0.3;
}

.nav-catalog__wrapper {
  position: absolute;
  top: 53px;

  width: 555px;
}

.nav-catalog__list {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
  padding: 0;

  list-style: none;
}

.nav-catalog__list:last-child {
  margin-right: 0px;
  margin-left: 16px;
}

.nav-catalog__item {
  margin-bottom: 16px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-transform: none;
}

.nav-catalog__link {
  text-decoration: none;
  color: inherit;
}