@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-stretch: normal;
  color: #000;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  position: relative;
  margin-bottom: 131px;
}

.header::before {
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 0px;

  content: "";
  width: 100%;
  height: 299px;

  background-color: #f8e296;
}

.header {
  padding-top: 21px;
  padding-left: 59px;
}

.user-nav {
  margin-bottom: 28px;
}

.user-nav__list {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 61px;

  list-style: none;
}

.user-nav__item {
  position: relative;

  padding-top: 8px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

.user-nav__item--search {
  display: flex;
  align-items: center;
  width: 441px;
  height: 49px;
  padding: 0;
  margin-right: 100px;
}

.user-nav__item--left {
  margin-right: auto;
}

.user-nav__item--right {
  margin-left: 41px;
}

.user-nav__item--search input {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.user-nav__item--search .user-nav__button {
  display: none;

  width: 85px;
  height: 49px;

  background-color: transparent;
  border: 2px solid #000;
}

.user-nav__button:hover {
  display: block;

  color: #fff;

  background-color: #000;
}

.user-nav__button:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);

  background-color: #000;
}

.user-nav__button:focus {
  display: block;
}

.user-nav__button:hover~.user-nav__border-bottom::after,
.user-nav__button:active~.user-nav__border-bottom::after,
.user-nav__button:focus~.user-nav__border-bottom::after,
#search:focus~.user-nav__border-bottom::after {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;

  width: 100%;
  height: 2px;
  content: "";

  background-color: #000;
}

#search:focus~.user-nav__button {
  display: block;
}

.user-nav__link {
  text-decoration: none;
  color: inherit;
}

.user-nav__link:hover {
  opacity: 0.6;
}

.user-nav__link:active {
  opacity: 0.3;
}

.user-nav__icon--search {
  margin-bottom: 2px;
  margin-left: 2px;
}

.user-nav__icon--user {
  margin-right: 8px;
}

.user-nav__icon--compare {
  margin-right: 6px;
}

.user-nav__icon--cart {
  margin-right: 7px;
}

.main-nav {
  margin: 0;
}

.main-nav__list {
  display: flex;
  padding-right: 58px;
  padding-left: 0;

  list-style: none;
}

.main-nav__item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase; 
}

.main-nav__item--catalog {
  position: relative;

  width: 540px;
  margin: 0;
}

.main-nav__item--left {
  margin-right: 34px;
}

.main-nav__item--right {
  margin-left: auto;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

.main-nav__link--catalog {
  display: flex;
  align-items: center;
  width: fit-content;
}

.main-nav__link:hover {
  color: rgba(0, 0, 0, 0.6)
}

.main-nav__link:active {
  color: rgba(0, 0, 0, 0.3)
}

.main-nav__icon {
  margin-left: 11px;

  opacity: 0.3;
}

.nav-catalog__wrapper {
  position: absolute;
  top: 20px;
  left: -40px;
  z-index: 3;

  display: none;
  width: 620px;
  padding-top: 34px;
  padding-left: 40px;
  
  background-color: #f8e296;
}

.nav-catalog__list {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
  padding: 0;

  list-style: none;
}

.nav-catalog__list:last-child {
  margin-right: 0px;
  margin-left: 16px;
}

.nav-catalog__item {
  margin-bottom: 16px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-transform: none;
}

.nav-catalog__link {
  text-decoration: none;
  color: inherit;
}

.nav-catalog__link:hover {
  color: rgba(0, 0, 0, 0.6)
}

.nav-catalog__link:active {
  color: rgba(0, 0, 0, 0.3)
}

.main-nav__link--catalog:hover~.nav-catalog__wrapper {
  display: block;
}

.nav-catalog__wrapper:hover {
  display: block;
}

.slider {
  margin-bottom: 93px;
  min-height: 420px;
}

.slider__item {
  position: relative;

  display: flex;
  width: 100%;
  margin: 0;
}

.slider__figcaption {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider__img--stick {
  margin-top: -80px;
  margin-right: 126px;
  margin-left: 90px;
}

.slider__img--watch {
  margin-top: -68px;
  margin-right: 140px;
  margin-left: 103px;
}

.slider__img--quadro {
  margin-top: -15px;
  margin-right: 43px;
  margin-left: 60px;
}

.slider__title {
  z-index: 2;

  order: 1;
  margin: 0;
  margin-bottom: 5px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.47px;
}

.slider__title::before {
  position: absolute;
  top: -43px;
  z-index: 1;

  width: 100px;
  height: 7px;
  content: "";

  background-color: #fff;
}

.slider__number {
  position: absolute;
  top: -93px;
  left: 928px;
  z-index: 1;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #fff;
}

.slider__text {
  order: 2;
  margin-bottom: 42px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.slider__table {
  display: flex;
  flex-direction: row;
  order: 4;
}

.slider-table__cell {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.slider-table__cell:not(:last-of-type) {
  margin-right: 77px;
}

.slider-table__title {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
}

.slider-table__description {
  margin-left: 0;
  margin-bottom: 8px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.36px;
}

.slider__button-block {
  position: relative;

  display: flex;
  order: 3;
  margin-bottom: 34px;
}

.slider__button {
  position: relative;
  z-index: 2;

  width: 220px;
  height: 40px;
  margin-right: 179px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
}

.slider__button-bg {
  position: absolute;
  left: 0px;
  bottom: calc(50% - 4px);
  z-index: 0;

  width: 220px;
  height: 8px;

  background-color: #f0c52e;
}

.slider__button:active + .slider__button-bg,
.slider__button:hover + .slider__button-bg {
  bottom: 0;

  height: 100%;
}

.slider__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pop-section {
  margin-bottom: 162px;
}

.pop-section__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;

  list-style: none;
}

.pop-section__img-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 34px;

  background-color: #f8e296;
}

.pop-section__item:nth-child(1) .pop-section__img-wrapper {
  padding-top: 52px;
  padding-left: 31px;
}

.pop-section__item:nth-child(2) .pop-section__img-wrapper {
  padding-top: 41px;
  padding-left: 38px;
}

.pop-section__item:nth-child(3) .pop-section__img-wrapper {
  padding-top: 38px;
  padding-left: 49px;
}

.pop-section__item:nth-child(4) .pop-section__img-wrapper {
  padding-top: 50px;
  padding-left: 28px;
}

.pop-section__item:nth-child(5) .pop-section__img-wrapper {
  padding-top: 32px;
  padding-left: 55px;
}

.pop-section__item:nth-child(6) .pop-section__img-wrapper {
  padding-top: 49px;
  padding-left: 13px;
}

.pop-section__link {
  text-decoration: none;
  color: inherit;
}

.pop-section__link:active .pop-section__img-wrapper,
.pop-section__link:hover .pop-section__img-wrapper {
  background-color: #f0c52e;
}

.pop-section__link:active .pop-section__title,
.pop-section__link:active .pop-section__img {
  opacity: 0.3;
}

.pop-section__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
 }

.service {
  width: 100%;
  min-height: 288px;
  background-color: #e5e5e5;
}

.service__wrapper {
  position: relative;

  display: flex;
}

.service__list {
  list-style: none;
  margin-top: -19px;
  margin-right: 122px;
  padding: 0;
}

.service__list::before {
  position: absolute;
  top: -99px;
  left: 278px;

  width: 7px;
  height: 319px;
  content: "";

  background-color: #000000;
}

.service__item {
  position: relative;

  width: 278px;
  height: 40px;
  margin-bottom: 24px;
}

.service__item--current {
  background-color: #000;
}

.service__button {
  position: relative;
  z-index: 2;

  width: 160px;
  height: 100%;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
}

.service__button-bg {
  position: absolute;
  left: 0px;
  bottom: calc(50% - 4px);
  z-index: 0;

  width: 160px;
  height: 8px;

  background-color: #f0c52e;
}

.service__button:hover + .service__button-bg {
  bottom: 0;

  height: 100%;
}

.service__button:active {
  color: #f7e184;

  background-color: #000;
}

.service__button:active::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 278px;
  height: 100%;
  content: "";

  background-color: #000;
}

.service__item--current .service__button {
  color: #f7e184;
}

.service__item--current .service__button-bg {
  display: none;
}

.service__title  {
  margin-top: -19px;
  margin-bottom: 38px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 0.47px;
}

.service__text {
  margin: 0;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}









.display-none {
  display: none;
}