@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-stretch: normal;
  color: #000;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  position: relative;

  min-height: 186px;
  margin-top: 40px;
  margin-bottom: 38px;
  padding-left: 59px;
  padding-bottom: 33px;

  background-color: #f8e296;
}

.user-nav {
  margin-bottom: 28px;
}

.nav__img--logo {
  margin-top: -18px;
  margin-bottom: 10px;
}

.user-nav__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 61px;
  margin-top: 0;
  margin-bottom: 33px;

  list-style: none;
}

.user-nav__item {
  position: relative;

  padding-top: 8px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

.user-nav__item--search {
  width: 441px;
  height: 49px;
  margin-right: 125px;
}

.user-nav__form--search {
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  width: 441px;
  height: 49px;
  padding: 0;
  padding-left: 18px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 4px 12px;
}

.user-nav__item--login {
  margin-right: auto;
}

.user-nav__item--cart {
  margin-left: 64px;
}

.user-nav__form--search input {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.user-nav__form--search .user-nav__button {
  display: none;

  width: 85px;
  height: 49px;

  background-color: transparent;
  border: 2px solid #000;

  transition: 0.2s;
  cursor: pointer;
}

.user-nav__button:hover {
  display: block;

  color: #fff;

  background-color: #000;
}

.user-nav__button:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);

  background-color: #000;
}

.user-nav__button:focus {
  display: block;
}

.user-nav__border-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 0px;
  height: 2px;

  transition: 0.2s;
}

.user-nav__button:hover~.user-nav__border-bottom,
.user-nav__button:active~.user-nav__border-bottom,
.user-nav__button:focus~.user-nav__border-bottom,
.user-nav__search-input:focus~.user-nav__border-bottom {
  width: 100%;

  background-color: #000;
}

.user-nav__search-input:focus~.user-nav__button {
  display: block;
}

.user-nav__link {
  position: relative;

  display: inline-block;
  vertical-align: top;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  text-decoration: none;
  color: #000;
}

.user-nav__loged {
  display: block;
}

.user-nav__name {
  margin-right: 16px;
}

.user-nav__link--logout {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__link--logout:hover {
  color: rgba(0, 0, 0, 0.7);
}

.user-nav__link--logout:active {
  color: rgba(0, 0, 0, 1);
}

.user-nav__login::before,
.user-nav__compare::before,
.user-nav__cart::before {
  position: absolute;
  right: 0;
  z-index: 1;

  display: block;
  height: 100%;
  content: "";

  background-repeat: no-repeat;
  background-position: 0 50%;
}

.user-nav__name::before {
  position: absolute;
  left: -23px;
  z-index: 1;

  display: block;
  width: 25px;
  height: 100%;
  content: "";

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.user-nav__login::before {
  width: 70px;

  background-image: url("../img/user.svg");
}

.user-nav__compare::before {
  width: 90px;

  background-image: url("../img/compare.svg");
}

.user-nav__cart::before {
  width: 83px;

  background-image: url("../img/cart.svg");
}

.user-nav__name:hover,
.user-nav__link:hover {
  opacity: 0.6;
}

.user-nav__name:active,
.user-nav__link:active {
  opacity: 0.3;
}

.main-nav {
  margin: 0;
}

.main-nav__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding-right: 58px;
  padding-left: 0;

  list-style: none;
}

.main-nav__item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.main-nav__item--catalog {
  height: 26px;
  margin-right: 296px;
}

.main-nav__item--catalog:hover .main-nav__link {
  color: rgba(0, 0, 0, 0.6)
}

.main-nav__item--catalog:hover .main-nav__link:active {
  color: rgba(0, 0, 0, 0.3)
}

.main-nav__item--left {
  margin-right: 34px;
}

.main-nav__item--right {
  margin-left: auto;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

.main-nav__link--catalog {
  z-index: 4;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.main-nav__link:hover {
  color: rgba(0, 0, 0, 0.6)
}

.main-nav__link:active {
  color: rgba(0, 0, 0, 0.3)
}

.main-nav__icon {
  margin-left: 11px;

  opacity: 0.3;
}

.nav-catalog__wrapper {
  position: absolute;
  top: 138px;
  left: 0px;
  z-index: 3;

  display: none;
  width: 100%;
  min-height: 160px;
  padding-top: 34px;

  padding-left: 40px;

  background-color: #f8e296;
}

.nav-catalog-show {
  display: block;
}

.nav-catalog__list {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
  padding: 0;

  list-style: none;
}

.nav-catalog__list:last-child {
  margin-right: 0px;
  margin-left: 16px;
}

.nav-catalog__item {
  margin-bottom: 16px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-transform: none;
}

.nav-catalog__link {
  text-decoration: none;
  color: inherit;
}

.nav-catalog__link:hover {
  color: rgba(0, 0, 0, 0.6)
}

.nav-catalog__link:active {
  color: rgba(0, 0, 0, 0.3)
}

.main__title-wrapper {
  padding-left: 60px;
}

.main__title {
  margin-bottom: 20px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  color: #000;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 0;
  margin-bottom: 58px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.14px;

  list-style: url("../img/nav-arrow.svg");
}

.breadcrumbs__item:first-child {
  list-style: none;
}

.breadcrumbs__item:not(:first-child) {
  padding-left: 12px;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 25px;
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs__link--current,
.breadcrumbs__link--current:hover,
.breadcrumbs__link--current:active,
.breadcrumbs__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.main__wrapper {
  position: relative;

  width: 100%;
}

.main__container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  overflow: hidden;
}

.main__container::after {
  position: absolute;
  top: -10px;
  left: 0;
  z-index: -3;

  width: 100%;
  height: 71px;
  content: "";

  background-color: #d9d9d9;
  opacity: 0.5;
  overflow: hidden;
}

.main__container::before {
  position: absolute;
  top: -10px;
  right: calc(50% + 252px);
  z-index: -3;

  width: 100%;
  height: calc(100% + 10px);
  content: "";

  background-color: #d9d9d9;
  opacity: 0.5;
  overflow: hidden;
}

@media screen and (max-width: 1160px) {
  .main__container::before {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: -3;

    width: 327px;
    height: calc(100% + 10px);
    content: "";

    background-color: #d9d9d9;
    opacity: 0.5;
    overflow: hidden;
  }
}

.filter {
  width: 327px;
  padding-right: 67px;
  padding-left: 60px;
}

.filter__heading {
  margin-bottom: 90px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter__name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.filter__item {
  display: block;
  padding: 0;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.86;
  letter-spacing: 0.14px;
}

.filter__name {
  width: 100%;
  margin-bottom: 25px;
  padding-top: 12px;

  border-top: 2px solid #000;
}

.filter__price {
  position: relative;

  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  border: none;
}

.filter__price-btn {
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter__price-btn--left {
  margin-right: 58px;
  text-align: left;
}

.filter__price-btn--left::before {
  position: absolute;
  bottom: 30px;
  z-index: -2;

  width: 100%;
  height: 2px;
  content: "";

  background-color: #dbdbdb;
}

.filter__price-btn--left::after {
  position: absolute;
  bottom: 30px;
  left: 5px;
  z-index: -1;

  width: 110px;
  height: 2px;
  content: "";

  background-color: #91c92f;
}

.filter__price-btn span {
  display: block;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: rgba(0, 0, 0, 0.2);
}

.filter__color {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  border: none;
}

.filter__color .filter__name {
  margin-bottom: 16px;
}

.filter__color .filter__item {
  position: relative;

  padding-left: 38px;
}

.filter__color .filter__item::before {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;

  width: 24px;
  height: 20px;
  content: "";

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

.filter__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter__checkbox::-ms-check {
  display: none;
}

.filter__checkbox-img {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;

  width: 24px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  opacity: 0.8;
}

.filter__checkbox:checked+.filter__checkbox-img {

  background-image: url("../img/checkbox-on.svg");
  background-size: 24px 20px;
}

.filter__checkbox:hover+.filter__checkbox-img {
  opacity: 0.6;
}

.filter__checkbox:focus+.filter__checkbox-img {
  opacity: 1;

  outline: 2px dotted #000;
}

.filter__checkbox:disabled+.filter__checkbox-img {
  opacity: 0.25;
}

.filter__bluetooth {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  border: none;
}

.filter__bluetooth .filter__name {
  margin-bottom: 15px;
}

.filter__bluetooth .filter__item {
  position: relative;

  display: block;

  padding-right: 15px;
  padding-left: 36px;
}

.filter__bluetooth .filter__item::before {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;

  width: 22px;
  height: 22px;
  content: "";

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

.filter__radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter__radio::-ms-check {
  display: none;
}

.filter__radio-img {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;

  width: 22px;
  height: 22px;
  content: "";

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
}

.filter__radio:checked+.filter__radio-img {
  background-image: url("../img/radio-on.svg");
}

.filter__radio:hover+.filter__radio-img {
  opacity: 0.6;
}

.filter__radio:focus+.filter__radio-img {
  opacity: 1;

  outline: 2px dotted #000;
}

.filter__radio:disabled+.filter__radio-img {
  opacity: 0.25;
}

.filter__button {
  position: relative;
  z-index: 2;

  width: 200px;
  height: 40px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.filter__button::before {
  position: absolute;
  left: 0px;
  bottom: calc(50% - 4px);
  z-index: -2;

  width: 200px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  transition: height 0.2s, transform 0.2s;
}

.filter__button:active::before,
.filter__button:hover::before {
  transform: translateY(16px);

  height: 100%;
}

.filter__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-catalog-wrapper {
  width: 833px;
}

.sorting {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
  padding-top: 12px;
  padding-left: 74px;
}

.sorting__title {
  margin-top: 0;
  margin-right: 55px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.sorting form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.sorting fieldset {
  margin: 0;
  padding: 0;
  padding-top: 2px;

  border: none;
}

.sorting__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting__input::-ms-check {
  display: none;
}

.sorting__item {
  position: relative;

  margin-right: 25px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
}

fieldset.sorting__arrow-block {
  margin-left: auto;
}

.sorting__span {
  opacity: 0.3;
  cursor: pointer;
}

.sorting__span:hover {
  opacity: 0.6;
}

.sorting__span:active {
  opacity: 1;
}

.sorting__span:focus {
  outline: 2px dotted #000;
}

.sorting__arrow--up {
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 1;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.sorting__arrow--down {
  position: absolute;
  top: 6px;
  left: 15px;
  z-index: 1;

  width: 12px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.sorting__input:checked+.sorting__span {
  opacity: 1;
}

.sorting__input:focus+.sorting__span {
  opacity: 1;

  outline: 2px dotted #000;
}

.catalog {
  padding-left: 73px;
}

.catalog__list {
  margin-left: auto;
  padding-left: 0;

  list-style: none;
}

.catalog__item {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 360px;
  padding: 0;
  margin-bottom: 46px;
}

.catalog__item--hit::before {
  position: absolute;
  top: 28px;
  right: 27px;

  width: 60px;
  height: 60px;
  content: "";

  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.catalog__item:nth-child(2n+1) {
  margin-right: 36px;
}

.catalog__link {
  text-decoration: none;
  color: inherit;
}

.catalog__img {
  max-width: 360px;
  max-height: 380px;
}

.catalog__text-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 28px;
}

.catalog__item-title {
  margin: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.catalog__item-price {
  margin-left: auto;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.16px;
  white-space: nowrap;
  text-align: right;
  color: #464646;
}

.catalog__buttons-wrap {
  position: absolute;
  top: 0;

  width: 100%;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
  opacity: 0;
  transition: 0.2s;
}

.catalog__buttons-wrap:hover {
  opacity: 1;
}

.catalog__button--cart {
  position: relative;
  z-index: 2;

  display: block;
  width: 200px;
  height: 40px;
  margin-top: 170px;
  margin-right: auto;
  margin-bottom: 6px;
  margin-left: auto;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog__button--cart::before {
  position: absolute;
  left: 0px;
  bottom: calc(50% - 4px);
  z-index: -2;

  width: 200px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  transition: height 0.2s, transform 0.2s;
}

.catalog__button--cart:active::before,
.catalog__button--cart:hover::before {
  transform: translateY(16px);

  height: 100%;
}

.catalog__button--cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__button--compare {
  display: block;
  margin-right: auto;
  margin-left: auto;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.77;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.catalog__button--compare:hover {
  color: rgba(0, 0, 0, 1);
}

.catalog__button--compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog__pagination {
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin-top: -26px;
  margin-bottom: 76px;
  padding-top: 25px;
  padding-bottom: 22px;
  padding-left: 6px;

  list-style: none;
  background-color: #ebebeb;
}

.pagination__item {
  margin-right: 28px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.pagination__item:first-child {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
}

.pagination__item:first-child .pagination__link {
  display: block;
  height: 100%;
  padding-top: 23px;
  padding-left: 32px;
  padding-right: 32px;

  color: #000;
}

.pagination__item:first-child .pagination__link:hover {
  background-color: #d9d9d9;
}

.pagination__item:first-child .pagination__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item:nth-last-child(2) {
  margin-right: 0;
}

.pagination__item:last-child {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  margin-right: 0;
}

.pagination__item:last-child .pagination__link {
  display: block;
  height: 100%;
  padding-top: 23px;
  padding-left: 32px;
  padding-right: 32px;

  color: #000;
}

.pagination__item:last-child .pagination__link:hover {
  background-color: #d9d9d9;
}

.pagination__item:last-child .pagination__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__link:active {
  color: rgba(0, 0, 0, 1);
}

.pagination__item [aria-current="page"] {
  color: #000;
}

.slider {
  position: relative;

  margin-bottom: 106px;
  min-height: 420px;
}

.slider::before {
  position: absolute;
  top: -47px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 120px;
  content: "";
  overflow: hidden;

  background-color: #f8e296;
}

.slider__item {
  position: relative;

  display: none;
  width: 100%;
  margin: 0;
}

.slider__show {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.slider__figcaption {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 520px;
  margin-top: 42px;
  margin-right: 40px;
  margin-left: auto;
}

.slider__img {
  position: absolute;
}

.slider__img--stick {
  top: -37px;
  left: 91px;
}

.slider__img--watch {
  top: -26px;
  left: 116px;
}

.slider__img--quadro {
  top: 27px;
  left: 32px;
}

.slider__title {
  z-index: 2;

  order: 1;
  margin: 0;
  margin-bottom: 5px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.47px;
}

.slider__title::before {
  position: absolute;
  top: 0px;
  z-index: 1;

  width: 100px;
  height: 7px;
  content: "";

  background-color: #fff;
}

.slider__number {
  position: absolute;
  top: -51px;
  left: 928px;
  z-index: 1;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #fff;
}

.slider__text {
  max-width: 485px;
  order: 2;
  margin-bottom: 42px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.slider__table {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  order: 4;
  margin-bottom: 6px;
}

.slider-table__cell {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.slider-table__cell:not(:last-of-type) {
  margin-right: 77px;
}

.slider-table__title {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
}

.slider-table__description {
  margin-left: 0;
  margin-bottom: 8px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.36px;
}

.slider__button-block {
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: baseline;
  order: 3;
  margin-bottom: 34px;
}

.slider__button {
  position: relative;
  z-index: 2;

  width: 220px;
  height: 40px;
  margin-right: 171px;
  overflow: hidden;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider__button::before {
  position: absolute;
  left: 0px;
  bottom: calc(50% - 4px);
  z-index: -2;

  width: 220px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  transition: height 0.2s, transform 0.2s;
}

.slider__button:active::before,
.slider__button:hover::before {
  transform: translateY(16px);

  height: 100%;
}

.slider__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider__control-list {
  position: absolute;
  right: 72px;
  bottom: 142px;
}

.slider__control {
  background-color: transparent;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.slider__control-bullet {
  display: block;
  width: 14px;
  height: 14px;

  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
}

.current-slide {
  opacity: 1;
}

.pop-section {
  margin-bottom: 162px;
}

.pop-section__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;

  list-style: none;
}

.pop-section__item {
  position: relative;
}

.pop-section__item:nth-child(1) .pop-section__img-wrapper {
  padding-top: 52px;
  padding-left: 31px;
}

.pop-section__item:nth-child(2) .pop-section__img-wrapper {
  padding-top: 41px;
  padding-left: 38px;
}

.pop-section__item:nth-child(3) .pop-section__img-wrapper {
  padding-top: 38px;
  padding-left: 49px;
}

.pop-section__item:nth-child(4) .pop-section__img-wrapper {
  padding-top: 50px;
  padding-left: 28px;
}

.pop-section__item:nth-child(5) .pop-section__img-wrapper {
  padding-top: 32px;
  padding-left: 55px;
}

.pop-section__item:nth-child(6) .pop-section__img-wrapper {
  padding-top: 49px;
  padding-left: 13px;
}

.pop-section__link {
  text-decoration: none;
  color: inherit;

  fill: #363636;
}

.pop-section__link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: block;
  width: 160px;
  height: 235px;
  content: "";
}

.pop-section__img-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 34px;

  background-color: #f8e296;
}

.pop-section__link:active .pop-section__img-wrapper,
.pop-section__link:hover .pop-section__img-wrapper {
  background-color: #f0c52e;
}

.pop-section__link:active .pop-section__img,
.pop-section__link:active .pop-section__title {
  opacity: 0.3;
}

.pop-section__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.service {
  width: 100%;
  min-height: 288px;
  margin-bottom: 93px;

  background-color: #e5e5e5;
}

.service__wrapper {
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.service__list {
  list-style: none;
  margin-top: -19px;
  margin-right: 122px;
  padding: 0;
}

.service__list::before {
  position: absolute;
  top: -99px;
  left: 278px;

  width: 7px;
  height: 319px;
  content: "";

  background-color: #000000;
}

.service__item {
  position: relative;
  z-index: 1;

  width: 278px;
  height: 40px;
  margin-bottom: 24px;
}

.service__item--current {
  background-color: #000;
}

.service__button {
  position: relative;
  z-index: 2;

  width: 160px;
  height: 100%;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.service__button::before {
  position: absolute;
  left: 0px;
  bottom: calc(50% - 4px);
  z-index: -2;

  width: 160px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  transition: height 0.2s, transform 0.2s;
}

.service__button:hover::before {
  transform: translateY(16px);

  height: 100%;
}

.service__button:active {
  color: #f7e184;

  background-color: #000;
}

.service__button:active::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 278px;
  height: 100%;
  content: "";

  background-color: #000;
}

.service__item--current .service__button {
  color: #f7e184;
}

.service__item--current .service__button::before {
  display: none;
}

.service__text-wrapper {
  position: relative;

  display: none;
}

.service__show {
  display: block;
}

.service__text-wrapper--deliver::before {
  position: absolute;
  top: -15px;
  right: -272px;

  width: 136px;
  height: 164px;

  content: "";
  background-image: url("../img/delivery.svg");
}

.service__text-wrapper--waranty::before {
  position: absolute;
  top: -40px;
  right: -280px;

  width: 171px;
  height: 194px;

  content: "";
  background-image: url("../img/warranty.svg");
}

.service__text-wrapper--credit::before {
  position: absolute;
  top: -38px;
  right: -272px;

  width: 156px;
  height: 186px;

  content: "";
  background-image: url("../img/credit.svg");
}

.service__title {
  margin-top: -19px;
  margin-bottom: 38px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 0.47px;
}

.service__text {
  max-width: 435px;
  margin: 0;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.pop-brands {
  margin-bottom: 103px;
}

.pop-brands__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  list-style: none;
}

.pop-brands__items {
  margin-right: 40px;
}

.pop-brands__items:nth-child(4n) {
  margin-right: 0px;
}

.pop-brands__img {
  transition: opacity 0.3s;
}

.pop-brands__img-bg--DJI {
  background-image: url("../img/brand-color1.png");
}

.pop-brands__img-bg--SP {
  background-image: url("../img/brand-color2.png");
}

.pop-brands__img-bg--GoPro {
  background-image: url("../img/brand-color3.png");
}

.pop-brands__img-bg--VIVE {
  background-image: url("../img/brand-color4.png");
}

.pop-brands__link:hover .pop-brands__img {
  opacity: 0;
}

.wrapper-about-contacts {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 82px;
}

.about {
  position: relative;

  width: 50%;
}

.about__title {
  margin-bottom: 44px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.about__title::after {
  position: absolute;
  top: -13px;
  left: 0;

  width: 80px;
  height: 7px;

  content: "";

  background-color: #000000;
}

.about__text {
  max-width: 475px;
  margin-bottom: 30px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: #464646;
}

.about__text:last-of-type {
  margin-bottom: 65px;
}

.about__list {
  margin-bottom: 54px;
  margin-left: 18px;
  padding: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;

  list-style: url("../img/list-stile.png");
}

.about__item {
  padding-left: 16px;
}

.about__button {
  position: relative;
  z-index: 2;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 40px;
  margin-right: 179px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: inherit;

  border: none;
  background-color: transparent;
}

.about__button::before {
  position: absolute;
  left: 0px;
  bottom: calc(50% - 4px);
  z-index: -2;

  width: 260px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  transition: height 0.2s, transform 0.2s;
}

.about__button:active::before,
.about__button:hover::before {
  transform: translateY(16px);

  height: 100%;
}

.about__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.contacts {
  position: relative;

  width: 50%;
  padding-left: 16px;
}

.contacts__title {
  margin-bottom: 44px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.contacts__title::after {
  position: absolute;
  top: -13px;
  left: 16px;

  width: 80px;
  height: 7px;

  content: "";

  background-color: #000000;
}

.contacts__text {
  margin-bottom: 60px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: #464646;
}

.contacts__map {
  margin-top: 38px;
}

.contacts__button {
  position: relative;
  z-index: 2;

  width: 260px;
  height: 40px;
  margin-right: 179px;
  overflow: hidden;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contacts__button::before {
  position: absolute;
  left: 0px;
  bottom: calc(50% - 4px);
  z-index: -2;

  width: 260px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  transition: height 0.2s, transform 0.2s;
}

.contacts__button:active::before,
.contacts__button:hover::before {
  transform: translateY(16px);

  height: 100%;
}

.contacts__button:active {
  color: rgba(0, 0, 0, 0.3);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.map {
  position: relative;

  display: none;
}

.map__wrapper {
  position: fixed;
  top: 25vh;
  left: calc(50vw - 480px);
  z-index: 10;

  width: 960px;
  height: 559px;

  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

  animation: bounce 0.6s;
}

.map__block {
  width: 100%;
  height: 100%;
}

.map__img {
  position: absolute;
  top: 0;
  left: 0;
}

.map__button {
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.map__button--close {
  position: absolute;
  top: 22px;
  right: 14px;
  z-index: 20;

  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.map__button--close:hover {
  opacity: 1;
}

.map__button--close:active {
  opacity: 0.3;
}

.modal {
  position: relative;

  display: none;
}

.modal-show {
  display: block;
}

.modal-show--animation {
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal__wrapper {
  position: fixed;
  top: 25vh;
  left: calc(50vw - 480px);
  z-index: 10;

  width: 960px;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;

  background-color: #fff;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal__button--close {
  position: absolute;
  top: 22px;
  right: 14px;

  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.modal__button--close:hover {
  opacity: 1;
}

.modal__button--close:active {
  opacity: 0.3;
}

.modal__form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.modal__form-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.modal__label {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.modal__label-text {
  margin-bottom: 13px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
}

.modal__input {
  width: 360px;
  height: 50px;
  padding-right: 17px;
  padding-left: 17px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #464646;

  background-color: #f2f2f2;
  border: solid 3px #f2f2f2;
}

.modal__textarea {
  width: 760px;
  height: 156px;
  padding-top: 11px;
  padding-right: 17px;
  padding-left: 17px;
  margin-bottom: 40px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #464646;

  background-color: #f2f2f2;
  border: solid 3px #f2f2f2;
}

.modal__input::placeholder,
.modal__textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal__input:-ms-input-placeholder,
.modal__textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal__input:hover,
.modal__textarea:hover {
  background-color: #eaeaea;
  border-color: #eaeaea;
}

.modal__input:focus,
.modal__textarea:focus {
  background-color: #fff;
  border: solid 3px #f0c52e;
}

.modal__input:invalid,
.modal__textarea:invalid {
  background-color: #f6dada;
  border: solid 3px #f6dada;
}

.modal__button--submit {
  position: relative;
  z-index: 2;

  width: 200px;
  height: 40px;
  margin-right: 179px;
  overflow: hidden;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__button--submit::before {
  position: absolute;
  left: 0px;
  bottom: calc(50% - 4px);
  z-index: -2;

  width: 200px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  transition: height 0.2s, transform 0.2s;
}

.modal__button--submit:active::before,
.modal__button--submit:hover::before {
  transform: translateY(16px);

  height: 100%;
}

.modal__button--submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  min-height: 323px;

  background-color: #464646;
}

.main-footer__wrapper {
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.main-footer__link--logo {
  margin-right: 140px;
  margin-bottom: 21px;
}

.main-footer__link--logo:hover {
  opacity: 0.6;
}

.main-footer__link--logo:active {
  opacity: 0.3;
}

.footer__address {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}

.footer__address address {
  position: absolute;
  top: 130px;

  font-style: normal;
}

.main-footer__tel {
  position: absolute;
  top: 130px;
  right: 0;

  text-decoration: none;
  color: inherit;
}

.footer__address::before {
  position: absolute;
  top: 237px;
  left: 0;

  width: 80px;
  height: 7px;
  content: "";

  background-color: #ffc600;
}

.footer__link-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list--nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  margin-top: 71px;
  margin-bottom: 48px;
  padding-left: 0px;

  list-style: none;
}

.footer__item--nav:not(:last-child) {
  margin-right: 34px;
}

.footer__link--nav {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__link--nav:hover {
  opacity: 0.6;
}

.footer__link--nav:active {
  opacity: 0.3;
}

.footer__list--social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;

  list-style: none;
}

.footer__link--social {
  position: relative;

  display: block;
  width: 33px;
  height: 33px;
}

.footer__link--tw::before,
.footer__link--inst::before,
.footer__link--fb::before {
  position: absolute;
  top: 32;
  left: 0;
  z-index: 1;

  display: block;
  width: 33px;
  height: 33px;
  content: "";

  background-size: contain;
  opacity: 0.3;
}

.footer__link--fb::before {
  background-image: url("../img/fb.svg");
}

.footer__link--inst::before {
  background-image: url("../img/inst.svg");
}

.footer__link--tw::before {
  background-image: url("../img/tw.svg");
}

.footer__link--tw:hover::before,
.footer__link--inst:hover::before,
.footer__link--fb:hover::before {
  opacity: 0.6;
}

.footer__link--tw:active::before,
.footer__link--inst:active::before,
.footer__link--fb:active::before {
  opacity: 0.1;
}

.footer__item--social:not(:last-child) {
  margin-right: 23px;
}

.footer__user-menu-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__list--user {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: -5px;
  margin-bottom: 126px;
  padding-left: 0;

  list-style: none;
}

.footer__item--user:not(:last-child) {
  margin-right: 64px;
}

.footer__link--user {
  position: relative;

  display: block;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.footer__link--logout {
  position: relative;

  display: block;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.footer__link--logout:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer__link--logout:active {
  color: rgba(255, 255, 255, 1);
}

.footer__user-name {
  position: absolute;
  right: 320px;

  padding-left: 26px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 0.15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.footer__user-name::before,
.footer__link--login::before,
.footer__link--compare::before,
.footer__link--cart::before {
  position: absolute;
  right: 0;
  z-index: 1;

  display: block;
  height: 100%;
  content: "";

  background-repeat: no-repeat;
  background-position: 0 50%;
}

.footer__user-name::before {
  left: 0px;
  width: 30px;

  background-image: url("../img/user-y.svg");
}

.footer__link--login::before {
  width: 70px;

  background-image: url("../img/user-y.svg");
}

.footer__link--compare::before {
  width: 90px;

  background-image: url("../img/compare-y.svg");
}

.footer__link--cart::before {
  width: 83px;

  background-image: url("../img/cart-y.svg");
}

.footer__link--user:hover {
  color: #fff;
}

.footer__user-name:hover::before,
.footer__link--login:hover::before,
.footer__link--compare:hover::before,
.footer__link--cart:hover::before {
  opacity: 0.6;
}

.footer__link--user:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__user-name:active::before,
.footer__link--login:active::before,
.footer__link--compare:active::before,
.footer__link--cart:active::before {
  opacity: 0.3;
}

.footer__link--dev {
  position: relative;
}

.footer__link--dev::before {
  position: absolute;

  width: 27px;
  height: 35px;
  content: "";
}

.footer__link--dev:hover {
  opacity: 0.6;
}

.footer__link--dev:active {
  opacity: 0.3;
}
